from scipy.stats import binom, norm
import numpy as np
import matplotlib.pyplot as plt


total_trails = 50  
probability_of_success = 0.5  
probability_of_failure= 1 - probability_of_success  

num_of_successes= 25  
binomial_prob = binom.pmf(num_of_successes, total_trails, probability_of_success)

mean = total_trails* probability_of_success  
stdev= np.sqrt(total_trails* probability_of_success * probability_of_failure) 

normal_prob = norm.cdf(num_of_successes+ 0.5, mean, stdev) - norm.cdf(num_of_successes - 0.5, mean, stdev)

print(f"binomial probability {binomial_prob}, and normal probability {normal_prob}")

data = binom.rvs(total_trails, probability_of_success, size=1000)


plt.hist(data, bins=np.arange(total_trails + 1) - 0.5, density=True, alpha=0.7, color='blue', edgecolor='black')


plt.xlabel('Number of Successes')
plt.ylabel('Probability')
plt.title('Binomial Distribution Histogram')


plt.show()
